<li id="sm-list-item-{{ loop.index }}  " class="{{ component.class_item }}">
    <a class="{{ item.class_a }}" href="{{ item.href|default('#') }}">
        {{ item.text|default('Link no' ~ loop.index) }}
    </a>
</li>